<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<title>Formulaire d'ajout d'une spécialité</title>
</head>
<body>
	<h2>Ajouter Une Specialite</h2>

		<form method="post" action="#" th:action="@{/specialite/add}" th:object="${specialite}">
			Libelle:<br>
			  <input type="text" name="libelle" th:field="*{libelle}" required>
			  <input type="hidden" name="idspec" th:field="*{id}" required>
			  <br> <br>
			   <input type="submit" value="Enregistrer">
		</form>
		<label th:text="${message}"/>
</body>
</html>